@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.header{
  position: relative;
}

.custom{
  background-color: #161b22;
  color: white;
}


.map{
  position: absolute;
  height: 100vh;
  width: 100vw;
}
